.headerWrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #E5E5E6;
}

.headerDarkMode {
  background-color: #333 !important;
}

.headerBanner {
  cursor: pointer;
  color: rgb(81, 170, 200);
  font-weight: bold;
}

.headerMenu {
  height: 100%;

  ul {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .textDarkMode {
      color: white;
      a {
        color: white;
        text-decoration: none;
      }
    }

    li {
      cursor: pointer;
      text-decoration: none;
      list-style: none;
    }

    .iconLightMode {
      background-color: white;
      padding: 3px 4px 0px 4px;
      border-radius: 5px;
    }

    .iconDarkMode {
      background-color: white;
      padding: 3px 4px 0px 4px;
      border-radius: 5px;
    }

    .setting {
        padding: 2px 10px;
        color: white;
        background-color: rgb(81, 170, 200);
        border-radius: 5px;
    }
  }
}

